matplotlib
soundfile
librosa
streamlit
numpy
sounddevice
wavio
tensorflow
mplcairo
bokeh
streamlit_bokeh_events
ipywebrtc
streamlit-webrtc
opencv-python
python-dotenv
flask
gunicorn
click
Flask
itsdangerous
Jinja2
MarkupSafe
python-dotenv
wave
webm
pydub